body {
  background: #fff;
  background-color: #fff; }

.reveal { font-size: 29px; }

.reveal section img {border: 0;}

#sec-title-slide .title {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0;
}

#sec-title-slide .subtitle {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0 0 10px 0;
}

#sec-title-slide .authors {font-size: 1.6em;}
#sec-title-slide .affiliation {font-size: 0.8em;}

.reveal h2 { font-size: 2em; }

#conclusion object {float: left;
                    height: 300px;
                    margin-right: 25px;}
