.reveal {font-size: 28px;}

.reveal section img {border: 0;}

#sec-title-slide .title {font-size: 3.5em;}
#sec-title-slide .authors {font-size: 2em;}
#sec-title-slide .affiliation {font-size: 0.82em;}
