.reveal { font-size: 28px; }

.reveal section img {border: 0;}

#sec-title-slide .title {
    font-size: 2.6em;
    font-weight: bold;
    margin: 0;
}

#sec-title-slide .subtitle {
    font-size: 1.45em;
    font-weight: bold;
    margin: 0 0 10px 0;
}

#sec-title-slide .authors {font-size: 1.75em;}
#sec-title-slide .affiliation {font-size: 0.8em;}

#conclusion object {float: left;
                    height: 300px;
                    margin-right: 25px;}
